<div class='nav-top' ng-controller="langCtl">
    <a href='./zh-cn/'><img src='./imgs/btn-home.png'></a>
     | <a target='_blank' href='#'>{{ 'PROPERTIES' | translate }}</a> 
     | <a target='_blank' href='#'>恒隆集团</a> 
     |<a href='#'>联络我们</a>
     |<a href='#'>网页搜寻</a>
     <a href='#' ng-show="en" ng-click="toggle('en')">| Eng</a>
     <a href='#' ng-show="zhTw" ng-click="toggle('zh_tw')">| 繁</a>
     <a href='#' ng-show="zhCn" ng-click="toggle('zh_cn')">| 简</a>
</div>
<div class='logo'>
    <div class='logo-left'>
        <a href='/zh-cn/' alt='广场' title='广场' name='#'><img src='./imgs/logo_mainland_grandgateway66.png'></a>
    </div>
    <div class='logo-right'>
        <a href='#' target='_blank' name='#'><img src='./imgs/logo_hanglungproperties.png' alt='地产' title='地产'></a>
    </div>
</div>


           